body {
  background-color: #fafbfc;
}
ul {
  padding-left: 10px;
  list-style-type: none;
}

.dndi {
  height: 16px;
}

li.d {
  cursor: move;
}

li {
  background-color: #edecfb !important;
  border: 1px solid black;
  margin-bottom: 1rem;
}
